#about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--blue);
}

#about-content {
    display: flex;
    gap: 20px;
    margin: auto;
    width: 1280px;
}

#about-content-bio {
    flex: 1 0 auto;
    width: 50%;
}

#about-content-pfp {
    flex: 1 0 auto;
    width: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}

#about-content-pfp img {
    width: 100%;
}