#call-to-action {
    position: relative;
    width: 100%;
    height: 400px;
}

#call-to-action-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: black;
    opacity: 0.8;
}

#call-to-action-content {
    padding: 40px;
    margin: auto;
    position: absolute;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#call-to-action-content-tagline {
    font-size: 1.25rem;
}

#call-to-action-content-tagline .special-font {
    color: var(--yellow);
    font-size: 1.5rem;
    margin-right: 10px;
}