:root {
    --blue: #1a335e;
    --yellow: #ac8b2f;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    color: white;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

figure {
    margin: 0;
    overflow: hidden;
}

button {
    position: relative;
    border: none;
    padding: 10px 20px;
    background-color: var(--yellow);
    color: white;
}

button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: white;
    opacity: 0;
}

button:hover::after {
    opacity: 0.2;
}

button:active::after {
    opacity: 0.1;
}

a {
    text-decoration: none;
    color: var(--yellow);
}

.heading {
    font-size: 2rem;
}