@font-face {
    font-family: 'Alkaline';
    font-weight: normal;
    src: url(../public/fonts/alkaline_regular.woff2); 
}


@font-face {
    font-family: 'Alkaline';
    font-weight: bold;
    src: url(../public/fonts/alkaline_bold.woff2); 
}

@font-face {
    font-family: 'Bebas Expanded';
    font-weight: normal;
    font-style: normal;
    src: url(../public/fonts/bebas_expanded_book.woff2) format(woff2);
}

@font-face {
    font-family: 'Bebas Expanded';
    font-weight: bold;
    font-style: normal;
    src: url(../public/fonts/bebas_expanded_bold.woff2) format(woff2);
}

@font-face {
    font-family: 'Bebas';
    font-weight: normal;
    font-style: normal;
    src: url(../public/fonts/bebas_regular.woff2) format(woff2); 
}

@font-face {
    font-family: 'Bebas';
    font-weight: bold;
    font-style: normal;
    src: url(../public/fonts/bebas_bold.woff2) format(woff2); 
}

:root {
    --blue: #1a335e;
    --yellow: #ac8b2f;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    color: white;
    font-family: 'Bebas Expanded';
    font-size: 24px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

figure {
    margin: 0;
    overflow: hidden;
}

.button {
    font-family: 'Bebas Expanded';
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    border: none;
    padding: 10px 20px;
    background-color: var(--yellow);
    color: white;
}

.button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.button:hover::after {
    opacity: 0.2;
}

.button:active::after {
    opacity: 0.1;
}

a {
    text-decoration: none;
    color: var(--yellow);
}

.heading {
    font-size: 1.75rem;
    font-family: 'Bebas';
    font-weight: bold;
}

.subheading {
    font-size: 1.5rem;
    font-family: 'Bebas';
    font-weight: bold;
}

.special-font {
    font-family: 'Alkaline';
    font-weight: bold;
    font-size: 1.5rem;
}