#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 100%;
}

#hero-image img {
    top: 0;
    position: fixed;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 1;
}

#hero-content {
    position: absolute;
    top: 0;
    left: 0;
}