#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 100%;
}

#hero-image img {
    top: 0;
    position: fixed;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    height: 100%;
    aspect-ratio: 1;
    filter: blur(4px);
}

#hero-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.4;
}

#hero-content {
    padding: 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas';
    font-weight: bold;
    font-size: 3rem;
}

#hero-content .special-font {
    color: var(--yellow);
    font-size: 3.25rem;
    margin-right: 10px;
}

@media (max-width: 800px) {
    #hero-content {
        font-size: 2rem;
    }

    #hero-content .special-font {
        color: var(--yellow);
        font-size: 2.25rem;
        margin-right: 10px;
    }
}