#navigation {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    background-color: var(--blue);
}

#navigation-content {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation-content-logo {
    padding: 5px 20px;
    width: 200px;
}

#navigation-content-logo img {
    aspect-ratio: 3/1;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

#navigation-content-links {
    padding: 0px 20px;
    width: 500px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

#navigation-content-links a {
    color: white;
}

#navigation-content-links a:not(.button):hover {
    color: var(--yellow);
    cursor: pointer;
}

@media (max-width: 800px) {
    #navigation-content {
        justify-content: center;
    }

    #navigation-content-links {
        display: none;
    }
}