#services {
    scroll-margin-top: 70px;
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
}

#services-content {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .icon {
    width: 100px;
    aspect-ratio: 1;
}

.card span {
    color: var(--yellow);
}

@media (max-width: 1000px) {
    #services-content {
        flex-direction: column;
    }
}