#services {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
}

#services-content {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}